:root {
  --min-mobile-width: 320px;
  --button-fixed-width: 4rem;
  --gap: 1rem;

  --grey: #B0C4DE;
  --grey-light: #f3f3f3;
  --blue: #00BFFF;
  --base-color: #444;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}