:root {
  --max-content-width: 20rem;
  --min-content-width: 10rem;
  --button-fixed-width: 5rem;
  --flex-gap: 1rem;

  --min-mobile-width: 320px;

  --grey: #B0C4DE;
  --grey-light: #f3f3f3;
  --blue: #00BFFF;
  --base-color: #444;
}