:root {
  --input-max-content-width: 45rem;
  --input-min-content-width: 6.25rem;
  --button-fixed-width: 3rem;
  --flex-gap: 1rem;

  --min-mobile-width: 320px;

  --section-max-width: calc(
    var(--input-max-content-width) + var(--button-fixed-width) + var(--flex-gap)
  );
  --section-min-width: calc(
    var(--input-min-content-width) + var(--button-fixed-width) + var(--flex-gap)
  );
}

.application {
  width: var(--min-mobile-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  font-family: sans-serif;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .application {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
    font-family: sans-serif;
    text-align: center;
  }
}
